body {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
#all {
    width: 80%; 
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
    height: 560px;
}
.titre {
    margin-bottom: 40px;
}
.title {
    margin-top: 0px;
}
img {
    width: 450px;
    height: 560px;
    float: left;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#form {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #9651b8;
    float: right;
    width: 480px;
    margin: auto;
}
input, select {
    border: none;
    border-bottom: 0.5px solid #cccdcf;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
label {
    display: block;
}
button { 
    padding: 20px;
    border-radius: 50px;
    width: 400px;
    color: white;
    background-image: linear-gradient(90deg,rgba(49, 89, 140)6%, rgba(97, 2, 153)40%);
    border: none;
    margin-top: 15px;
}
